<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'EDIT' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>{{ 'REPLACEMENT_DATE' | translate }}</ion-label>
      <ion-datetime displayFormat="{{ 'DATE_FORMAT' | translate }}" [(ngModel)]="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'DESCRIPTION' | translate }}</ion-label>
      <ion-textarea class="edit-page-textarea" placeholder="{{ 'DESCRIPTION_PLACEHOLDER' | translate }}" [(ngModel)]="description"></ion-textarea>
    </ion-item>
  </ion-list>
  <div padding>
    <button *ngIf="isUpdate" ion-button block (click)="addRazorBladeData()">{{ 'UPDATE' | translate }}</button>
    <button *ngIf="!isUpdate" ion-button block (click)="addRazorBladeData()">{{ 'RECORD' | translate }}</button>
  </div>
  <div padding>
    <button ion-button block (click)="clearAll()">Clear all</button>
  </div>
</ion-content>