<ion-header>
  <ion-navbar>
    <ion-title>{{ 'HOME' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content margin-top margin-bottom text-center class="home-content">
  <div padding>
    <h3>{{ 'NUMBER_OF_DAYS_USED' | translate }}</h3>
    <h2>{{ numberOfDaysUsed }} {{ 'DAYS' | translate }}</h2>
  </div>
  <div padding>
    <p *ngIf="date">{{ 'LAST_REPLACEMENT_DATE' | translate }} : {{ date | dateTranslated }}</p>
    <p>{{ description }}</p>
  </div>
  <div padding>
    <button ion-button class="replace-button" (click)="openEditPage()" [ngClass]="{'animation-trembling': tremblingButton, 'animation-removing': removingButton}">{{ 'REPLACE_HOUR_RAZOR_BLADE' | translate }}</button>
  </div>
  <div class="holder-container" margin-right>
    <img class="holder-image" src="assets/images/holder-light.png">
  </div>
  <div class="glitter-holder">
      <img class="glittering-image glitter01" src="assets/images/glittering.png" [ngClass]="{'animation-glittering': glittering}">
      <img class="glittering-image glitter02" src="assets/images/glittering.png" [ngClass]="{'animation-glittering': glittering}">
      <img class="glittering-image glitter03" src="assets/images/glittering.png" [ngClass]="{'animation-glittering': glittering}">
      <img class="glittering-image glitter04" src="assets/images/glittering.png" [ngClass]="{'animation-glittering': glittering}">
      <img class="glittering-image glitter05" src="assets/images/glittering.png" [ngClass]="{'animation-glittering': glittering}">
  </div>

  <!-- 
  <p>{{ 'test1' | translate }}</p>
  <p>{{ 'test2' | translate:tlParams }}</p>
  <ion-list>
    <ion-item>
      <ion-label>Change language</ion-label>
      <ion-select [(ngModel)]="currentLang" multiple="false" [selectOptions]="{ title:'test1'|translate, subTitle:'test2'|translate:tlParams }"
        (ionChange)="onSelectLang(currentLang)">
        <ion-option *ngFor="let availableLang of availableLangs">{{availableLang}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list> -->
</ion-content>