<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <div padding>
    <h3>Number of days used</h3>
    <h2>{{ numberOfDaysUsed }} days</h2>
  </div>
  <div padding>
    <p *ngIf="description">Last replacement date : {{ date }}</p>
    <p>{{ description }}</p>
  </div>
  <div padding>
    <button ion-button (click)="openEditPage()">Replace your razor blade</button>
  </div>

  <p>{{ 'test1' | translate }}</p>
  <!-- テスト -->
  <p>{{ 'test2' | translate:tlParams }}</p>
  <!-- テスト hoge fuga -->
  <ion-list>
    <ion-item>
      <ion-label>Change language</ion-label>
      <ion-select [(ngModel)]="currentLang" multiple="false" [selectOptions]="{ title:'test1'|translate, subTitle:'test2'|translate:tlParams }"
        (ionChange)="onSelectLang(currentLang)">
        <ion-option *ngFor="let availableLang of availableLangs">{{availableLang}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>