<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'SETTINGS' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-list-header>
      {{ 'REPLACEMENT_NOTIFICATION' | translate }}
    </ion-list-header>
    <ion-item>
      <ion-toggle checked="false" [(ngModel)]="isNotifyReplacement"></ion-toggle>
      <ion-label>
        {{ 'NOTIFICATION' | translate }}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="isNotifyReplacement">
    <ion-list-header>
      {{ 'NOTIFICATION_FREQUENCY' | translate }}
    </ion-list-header>
    <ion-item>
      <ion-label>
        {{ 'NOTIFY_EVERY' | translate }}
      </ion-label>
      <ion-input class="frequency-input" type="number" placeholder="Put frequency" [(ngModel)]="frequencyNumber"></ion-input>
      <ion-select [(ngModel)]="frequencyUnit">
        <ion-option value="days">{{ 'DAYS' | translate }}</ion-option>
        <ion-option value="weeks" selected>{{ 'WEEKS' | translate }}</ion-option>
        <ion-option value="months">{{ 'MONTHS' | translate }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>
        {{ 'TIME_TO_NOTIFY' | translate }}
      </ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" [(ngModel)]="frequencyTime"></ion-datetime>
    </ion-item>
    <!-- 曜日指定のとき表示 -->
    <ion-item *ngIf="frequencyUnit === 'weeks'">
      <ion-label>
        {{ 'DAY_TO_NOTIFY' | translate }}
      </ion-label>
      <ion-select [(ngModel)]="frequencyWeeklyDay">
        <ion-option value="Sunday">{{ 'SUNDAY' | translate }}</ion-option>
        <ion-option value="Monday">{{ 'MONDAY' | translate }}</ion-option>
        <ion-option value="Tuesday">{{ 'TUESDAY' | translate }}</ion-option>
        <ion-option value="Wednesday">{{ 'WEDNESDAY' | translate }}</ion-option>
        <ion-option value="Thursday">{{ 'THURSDAY' | translate }}</ion-option>
        <ion-option value="Friday">{{ 'FRIDAY' | translate }}</ion-option>
        <ion-option value="Saturday">{{ 'SATURDAY' | translate }}</ion-option>
      </ion-select>
    </ion-item>
    <!-- 月指定のとき表示 -->
    <ion-item *ngIf="frequencyUnit === 'months'">
      <ion-label>
        {{ 'DATE_TO_NOTIFY' | translate }}
      </ion-label>
      <ion-datetime displayFormat="D" pickerFormat="D" [(ngModel)]="frequencyMonthlyDate"></ion-datetime>
    </ion-item>
    <ion-item>
      {{ 'NEXT_NOTIFICATION' | translate }}
      <ion-note item-end>
        {{ nextNotificationDateAndTime | dateTranslated }} HH:MM
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>