<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'HISTORY' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let record of recordsArray; let i = index;">
      <ion-item (click)="openEditPage(record.date)" detail-push>
        <h2>{{ record.date | dateTranslated }}</h2>
        <h3>{{ 'DESCRIPTION' | translate }} : {{ record.description }}</h3>
        <h3 *ngIf="i > 0">{{ 'NUMBER_OF_DAYS_USED' | translate }} : {{ calculateNumberOfDaysUsed(record.date, recordsArray[i-1].date) }} {{ 'DAYS' | translate }</h3>
        <h3 *ngIf="i === 0">{{ 'NUMBER_OF_DAYS_USED' | translate }} : {{ calculateNumberOfDaysUsed(record.date, null) }} {{ 'DAYS' | translate }}</h3>
      </ion-item>
      <ion-item-options>
          <button ion-button color="danger" icon-start (click)="deleteRecord(i)">
            <ion-icon name="trash"></ion-icon>
            {{ 'DELETE' | translate }}
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>